{{#story}}
<div class="story card" id="story_{{id}}">
	<span class="story-number">{{type}} #{{id}}</span>
	<span class="story-theme">Theme: {{theme}}</span>
	<span class="story-points">{{points}} pts</span>
	<h2>Description</h2>
	<p class="story-description">{{description}}</p>
	<h2>Conditions of Satisfaction / Notes</h2>
	<p class="story-notes">{{{notes}}}</p>
</div>
{{/story}}
